################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/ccmierGUI/bin
/ccmierGUI/obj
/ccmierGUI/obj
/ccmierGUI/obj/Debug/TempPE
/ccmierGUI/obj/Debug
