<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ccminerArgs" value="-a neoscrypt -i 15 -o stratum+tcp://pool:port -u user -p pass"/>
    <add key="CoinotronAPI" value="" />
    <add key="CoinotronWorker" value="" />
    <add key="CoinotronWorkerPass" value="" />
    <add key="Currency" value="eur" />
    <add key="FeathercoinWalletAddress" value="" />
    <add key="p2poolAddress" value="" />
  </appSettings>
</configuration>