<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Miner" value="0" />
    <add key="Path" value="" />
    <add key="Intensity" value="D" />
    <add key="Pool" value="0" />
    <add key="CoinotronAPI" value="" />
    <add key="Worker" value="" />
    <add key="Pass" value="" />
    <add key="Currency" value="eur" />
    <add key="FeathercoinWalletAddress" value="" />
    <add key="PoolAddress" value="" />
    <add key="Threshold" value="50" />
  </appSettings>
</configuration>